$red: #973566;
$blue: #4B8DF8;
$gray: #cccccc;
$darkgray: #999;
$font-12: 0.75em;
$font-14: 0.875em;
$font-16: 1em;
$font-18: 1.125em;
$font-20: 1.25em;

$font-24: 1.5em;

$left: left;
$right: right;

$font-roboto: "Roboto Slab", serif;

$screen-xs-max: 767px;
$screen-sm-min: 768px;